name: CI

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nvim_version: [stable, nightly]
    steps:
      - uses: actions/checkout@v4

      - name: Install Neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.nvim_version }}

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.3'

      - name: Install gopls
        run: go install golang.org/x/tools/gopls@latest

      - name: Install tree-sitter CLI
        run: npm install -g tree-sitter-cli

      - name: Run tests
        run: |
          nvim --version
          nvim --headless -u tests/minimal_init.lua -c "luafile tests/completion_test.lua" -c "qa"
          nvim --headless -u tests/minimal_init.lua -c "luafile tests/import_test.lua" -c "qa"
          nvim --headless -u tests/minimal_init.lua -c "luafile tests/db_test.lua" -c "qa"
          nvim --headless -u tests/minimal_init.lua -c "luafile tests/internal_test.lua" -c "qa"
